.desktop {
    margin: 0;
    padding: 0;
}

p {
    padding-left: 8px;
}

/*Хедер*/

.headinfo {
    /*outline: solid 2px darkblue;*/
    display: block;
    width: 100%;
    height: 45px;
    float: left;
    background-color: #001a33;
    font-family: Poppins, sans-serif;
    /*Выбрать шрифт*/
    color: white;
    font-size: 15px;
}

.headinfo__all {
    /*outline: solid 2px red;*/
    float: left;
    height: 45px;
    line-height: 45px;
    overflow: hidden;
}

.headinfo-name {
    width: 69.3%;
    font-family: 'Amatic SC', cursive;
    padding-left: 0.7%;
}

.headinfo-social_links {
    width: 30%;
}

.social a {
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
    width: 22px;
    height: 22px;
    float: right;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15), inset 0 0 50px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    color: #001a33;
    padding: 5px;
    margin: 8px 8px 0px 2px;
    position: relative;
    top: -1px;
}

.fa-facebook {
    position: relative;
    top: -4px;
}

.fa-vk {
    position: relative;
    top: -6px;
    left: -3px;
}

.facebook a:hover {
    background: #3b5998;
    color: #fff;
}

.vk a:hover {
    background: #5d84ae;
    color: #fff;
}

/*Спрятанный хедер*/

.hidden-menu {
    display: none;
    position: fixed;
    list-style: none;
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
    width: 200px;
    background-color: #f4ffff;
    height: 100%;
    top: 0;
    right: -200px;
    transition: left .2s;
    z-index: 2;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
}

.hidden-menu-ticker {
    display: none;
}

.btn-menu {
    display: none;
    color: #fff;
    background-color: #001a33;
    padding: 5px;
    position: absolute;
    top: 5px;
    right: 0;
    cursor: pointer;
    transition: left .23s;
    z-index: 3;
    width: 25px;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;

}

.btn-menu span {
    display: none;
    height: 5px;
    background-color: #fff;
    margin: 5px 0 0;
    transition: all .1s linear .23s;
    position: relative;
}

.btn-menu span.first {
    margin-top: 0;
}

.hidden-menu-ticker:checked~.btn-menu {
    right: 0;
}

.hidden-menu-ticker:checked~.hidden-menu {
    right: 0;
}

.hidden-menu-ticker:checked~.btn-menu span.first {
    -webkit-transform: rotate(45deg);
    top: 10px;
}

.hidden-menu-ticker:checked~.btn-menu span.second {
    opacity: 0;
}

.hidden-menu-ticker:checked~.btn-menu span.third {
    -webkit-transform: rotate(-45deg);
    top: -10px;
}

.hidden-header {
    display: none;
    background-color: #001a33;
    color: #fff;
    text-align: left;
    padding: 5px;
    height: 33px;
    line-height: 33px;
    overflow: hidden;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: 'Amatic SC', cursive;
}

.hidden-menu_vcl {
    text-decoration: none;
    color: black;
    font-weight: bold;
    line-height: 4;
    font-size: 15px;
}

.hidden-menu_vcl:hover {
    color: #009999;
}

/*Меню*/

.menu {
    width: 100%;
    height: 80px;
    float: left;
    font-size: 14px;
}

.menu__all {
    outline: solid 2px transparent;
    float: left;
    height: 80px;
    line-height: 80px;
    overflow: hidden;
}

.menu-logo {
    width: 20%;
}

.menu-list {
    width: 80%;
}

.menu-list__gallery {
    outline: solid 2px transparent;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    padding: 0 4vw 0 4vw;
    color: black;
}

.menu-list__gallery:hover {
    cursor: pointer;
    color: #009999;
}

.menu-list__blog {
    outline: solid 2px transparent;
    height: 40px;
    display: inline-block;
    line-height: 40px;
    padding: 0 4vw 0 4vw;
}

.menu-list__blog:hover {
    cursor: pointer;
    color: #009999;
}

.menu-list__slideshow {
    outline: solid 2px transparent;
    height: 40px;
    display: inline-block;
    line-height: 40px;
    padding: 0 2vw 0 2vw;
}

.menu-list__slideshow:hover {
    cursor: pointer;
    color: #009999;
}

.menu-list__contacts {
    outline: solid 2px transparent;
    height: 40px;
    display: inline-block;
    line-height: 40px;
    padding: 0 4vw 0 4vw;
}

.menu-list__contacts:hover {
    cursor: pointer;
    color: #009999;
}

.link-hover a {
    display: inline-block;
    color: black;
    line-height: 1.5;
    text-decoration: none;
    cursor: pointer;
    position: relative;
}

.link-hover a:hover {
    color: #009999;
}

.link-hover a:after {
    display: block;
    content: "";
    background-color: #009999;
    height: 2px;
    width: 0%;
    left: 50%;
    position: absolute;
    -webkit-transition: width .2s ease-in-out;
    -moz--transition: width .2s ease-in-out;
    transition: width .2s ease-in-out;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}

.link-hover a:hover:after,
.link-hover a:focus:after {
    width: 100%;
}

/*Переход на главную страницу*/

.home {
    width: 99.3%;
    height: 50px;
    line-height: 50px;
    background-color: rgba(38, 38, 38, 0.03);
    float: left;
    font-weight: bold;
    font-size: 14px;
    padding-left: 0.7%;
}

.gohome {
    text-decoration: none;
    color: black;
}

.gohome:hover {
    color: #808080;
}

.home_color {
    color: #009999;
}


/*Ускоритель*/

.footer {
    width: 100%;
    display: none;
    background-color: #ebebeb;
    opacity: 0.38;
    position: fixed;
    bottom: 0;
    height: 40px;
    text-align: center;
    font-size: 25px;
    z-index: 2;
}

.boost-btn {
    cursor: pointer;
    width: 16px;
    height: 15px;
    margin: 16.5px auto;
    transform: rotate(-45deg);
    z-index: 2;
    position: relative;
}

.boost {
    width: 12px;
    height: 12px;
    border: 1px solid;
    border-left: none;
    border-bottom: none;
}

.boost-btn:hover {
    color: red;
}

.boost2 {
    position: absolute;
    top: 3px;
}

.boost1 {
    position: absolute;
    right: 0;
}

/*Подвал*/

.endinfo {
    /*outline: solid 2px darkblue;*/
    display: block;
    width: 100%;
    height: 45px;
    float: left;
    background-color: #001a33;
    font-family: Poppins, sans-serif;
    /*Выбрать шрифт*/
    color: white;
    font-size: 15px;
    position: fixed;
    left: 0;
    bottom: 0;
}

.endinfo__all {
    /*outline: solid 2px red;*/
    float: left;
    height: 45px;
    line-height: 45px;
    overflow: hidden;
}

.endinfo-name {
    width: 69.3%;
    padding-left: 0.7%;
}

.endinfo-social_links {
    width: 30%;
    text-align: right;
}

.vk-contacts,
.fc-contacts {
    text-decoration: none;
}

@media screen and (min-width: 0px) and (max-width: 640px) {

    .headinfo,
    .endinfo,
    .menu {
        display: none;
    }

    .hidden-menu,
    .btn-menu,
    .hidden-header,
    .btn-menu span,
    .footer {
        display: block;
    }

    .desktop {
        font-size: 0.91em;
    }

    .fa-vk {
        top: -3px;
    }

    .fa-facebook {
        top: -1px;
    }

    .home {
        height: 33px;
        line-height: 33px;
    }

}
